<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"        content="">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Ample Admin Lite Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.png">
    <!-- Custom CSS -->
    <link href="{{url_for("static",filename=('chartist.min.css')) }}" rel="stylesheet">
    
    <link href="{{url_for("static",filename=('chartist-plugin-tooltip.css')) }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{url_for("static",filename=('style.min.css')) }}" rel="stylesheet">

    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
   
</body>

</html>